---
layout: home
heading: Nazario Software
subheading: Hand-raised, free-range Safari extensions.
banner: 'assets/img/site-splash.png'
---

<div style="display: flex; flex-wrap: wrap;">
  {% include app_box.html
    name="JavaSnipt"
    url="/2021/04/07/about-javasnipt.html"
    tagline="The JavaScript blocker and NoScript equivalent for Safari"
    image="javasnipt-icon.png"
  %}
  {% include app_box.html
     name="Mute Chat for BoardGameArena"
     url="/2023/06/02/play-in-peace-with-mute-chat-for-boardgamearena.html"
     tagline="Play in peace on BoardGameArena"
     image="mc-icon.png"
  %}
  {% include app_box.html
    name="Beautiful New Tabs"
    url="/2021/05/13/make-your-new-tab-page-gorgeous-with-beautiful-new-tabs.html"
    tagline="Replace your new tab page with a gorgeous wallpaper"
    image="bnt-icon.png"
  %}
</div>

<p style="text-align: center;">
  <a href="{% post_url 2021-01-08-about-nazario-software %}">About Us</a>
</p>