<div style="{% if include.marginTop %}    margin-top: 2rem;    {% endif %};
            {% if include.marginBottom %} margin-bottom: 2rem; {% endif %}
            height: 6rem;
            width: auto;
">
    <a href="{% if include.javasnipt %}https://apps.apple.com/us/app/javasnipt/id1561868291{%          endif %}
             {% if include.bnt       %}https://apps.apple.com/us/app/beautiful-new-tabs/id1567068235{% endif %}"
       target="_blank" title="Download on the App Store">
        <img src="/assets/img/app-store-badge.svg" alt="Download on the App Store"
             style="height: 100%; width: auto;">
    </a>
</div>