<style>
  .app-store-link-container {
    height: 6rem;
    width: auto;
    {% if include.marginTop %}    margin-top: 2rem;    {% endif %};
    {% if include.marginBottom %} margin-bottom: 2rem; {% endif %};
  }
  .app-store-link-container a img {
    height: 100%;
    width: auto;
  }
</style>
<div class="app-store-link-container">
  <a href="https://apps.apple.com/us/app/mute-chat-for-boardgamearena/id6449945892"
     target="_blank" title="Download on the App Store">
    <img src="/assets/img/app-store-badge.svg" alt="Download on the App Store">
  </a>
  <a href="https://chrome.google.com/webstore/detail/mute-chat-for-boardgamear/gohhojdlpnegnpbgdbplhkkaaagkhaah"
     target="_blank" title="Download on the Chrome Web Store">
    <img src="/assets/img/chrome-store-badge.png" alt="Download on the Chrome Web Store">
  </a>
  <a href="https://addons.mozilla.org/en-US/firefox/addon/mute-chat-for-boardgamearena/"
      target="_blank" title="Download for Firefox">
      <img src="/assets/img/firefox-store-badge.png" alt="Download for Firefox">
  </a>
</div>