<h2 id="nutrition-label">Source Code Nutrition Label</h2>

<p>You shouldn’t have to worry {{ include.name }} is using some privacy-sucking third-party library. Apps shouldn't be mystery meat. You should know what code goes into them.</p>

<p>Generally speaking, there are two kinds of third-party code used by apps: those used inside the app, and those used to build the app.</p>

<p>Code used in the app is included with {{ include.shortName }} and will run on your device. For example, if an app shows ads from Facebook, it might include the Facebook SDK ({{ include.shortName}} does neither).</p>

<p>Then there’s code used to build the app, which is <em>not</em> included with {{ include.shortName }}. It only runs on my computer when I make a new version of the app. I can’t list every piece of software that goes into building {{ include.shortName }} ("macOS"), but I can tell you what third-party code directly helps build the app.</p>